  <!-- Site footer -->

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About Us</h6>
          <p class="text-justify"><i>AIR TAXI</i> is an amazing website created by 4 amazing programmers for the purpose of flight reservation. Now you can book tickets without any hassle at ypur fingertips. Come fly with us at <i>AIR TAXI</i> </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Who we are</h6>
          <ul class="footer-links">
            <li><a href="#">Nishant</a></li>
            <li><a href="#">Nikhil</a></li>
            <li><a href="#">Pooja</a></li>
            <li><a href="#/">Avina</a></li>
            <li><a href="#">Abhinav</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Project Gladiator Team 1</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li><a class="twitter" href="#"><fa-icon [icon]="faDribbble"></fa-icon></a></li>
            <li><a class="dribbble" href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li><a class="linkedin" href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
