body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-position: center;
  color: #191a1e; 

  background-image: url("src\assets\images\airplane.jpg"); 
  background-size:cover;
  background-position: center; 


background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
 min-height: 50rem; 
position: relative; 


 }


 .checkboxes{
  margin-left: 2rem;
  padding-left: 95px;

}


form{
background: whitesmoke;
margin: 0px auto;
background-color: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(5px);
border-radius: 1rem;
/* width: 40rem; */
 position: center; 
 overflow: hidden;
  height: 55vh;
  width: fit-content;



}

.header h1{
  font-family: 'Qwitcher Grypen', cursive;
  font-weight: 700;
  color: antiquewhite;
  font-size:60px;
  padding-left: 50px;

 
  
}


.row{
margin: 10px;
}

.button{
background-color: #47B5FF;
border: none;
color: #191a1e;
padding: 15px 32px;
text-align: center;
text-decoration: none;

font-size: 14px;
margin: 4px 2px;
cursor: pointer;
font-weight: bold;
outline: none;


}
.button:hover{
background: #C1EFFF
}
