<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Registration Form </title>
    <link rel="stylesheet" type="text/css" href="registration.component.css">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
</head>
<body>
    
    <div class="container">
        <div class="title">Register Here</div>
      <form  [formGroup]="userForm" (ngSubmit)="onSubmit()"  (keydown.enter)="$event.preventDefault()" novalidate >
        <div class="user-details">

                 <div class="form-group" style= "color: #47B5FF;">
                 <label for="title">Title</label>
                     <select name="Title" formControlName="title" type="text"
                     style="width: 100%; height: 30px; outline: none; border-radius: 5px;border: 1px solid #ccc; padding-left: 15px;font-size: 16px;border-bottom-width: 2px;transition: all 0.3s ease;">
                       <option>Select Title</option>
                       <option>Mr.</option>
                       <option>Ms.</option>
                       <option>Mrs.</option> 
                    </select>
                    <span class="text-danger" *ngIf="userForm.controls['title'].dirty && userForm.hasError('required','title')">*Title is required</span>
                </div>  

               <div class="form-group" style= "color: #47B5FF;">
                <label for="firstName">FirstName</label>
                     <input type="text" id="firstName"  class = "form-control" placeholder="Enter Your First Name" formControlName="firstName" required="" >
                     <span class="text-danger" *ngIf="userForm.controls['firstName'].dirty && userForm.hasError('required','firstName')">*First Name is required</span>
                </div>
                
                
               <div class="form-group" style= "color: #47B5FF;">
                <label for="lastName">LastName</label>
                <input  class = "form-control" type="text" required="" placeholder="Enter Your Last Name" formControlName="lastName">
                <span class="text-danger" *ngIf="userForm.controls['lastName'].dirty && userForm.hasError('required','lastName')">*Last Name is required</span>
               </div>

                <div class="form-group" style= "color: #47B5FF;">
                    <label for="email_Id">Email-Id</label>
                    <input  required class = "form-control" type="email" required placeholder="Enter your Email-Id" formControlName="email_Id" >
                    <span class="text-danger" *ngIf="userForm.controls['email_Id'].dirty && userForm.hasError('required','email_Id')">*Email Id is required</span>
                 
                </div>

                <div class="form-group" style= "color: #47B5FF;">
                    <label for="password">Password</label>
                
                    <input  minlength="8" class = "form-control" type="password" required="" placeholder="Enter Your Password" formControlName="password" id="txtPassword" >
                    <span class="text-danger" *ngIf="userForm.controls['password'].dirty && userForm.hasError('required','password')">*Password is required</span>
                </div>

                <div class="form-group" style= "color: #47B5FF;">
                    <label for="confirmpassword">Confirm Password</label>
                    <input  minlength="8" required="" class = "form-control" type="password"  placeholder="Confirm Your Password"  formControlName="confirmpassword" id="txtConfirmPassword" >
                    <span  class="text-danger" *ngIf="userForm.controls['confirmpassword'].dirty && userForm.hasError('required','confirmpassword')">*Password is required</span>
                    
                </div>
 
               
                <div class="form-group" style= "color: #47B5FF;" >
                    <label for="dob">Birthdate</label>
                    <input required="" class = "form-control" type="date" required placeholder="Select Your Birthdate"  formControlName="dob" >
                    <span class="text-danger" *ngIf="userForm.controls['dob'].dirty && userForm.hasError('required','dob')">*Date Of Birth is required</span>
                </div>

                <div class="form-group" style= "color: #47B5FF;">
                    <label for="mobile_No">Mobile Number</label>
                    <input  type="number" maxlength="10" pattern="[7-9]{1}[0-9]{9}" placeholder="Enter Your Phone No" formControlName="mobile_No" >
                    <span class="text-danger" *ngIf="userForm.controls['mobile_No'].dirty && userForm.hasError('required','mobile_No')">*Mobile Number is required</span>
             
                </div>

              <button type="button" class="button" (click)="onCancel()">CANCEL</button> 
                <button type="submit" class="button" (click)="onRegister()" [disabled]="!userForm.valid">REGISTER</button>
                
               
            </div>
    </form>
      </div>
      

</body>


</html>