<div class="about-section">
    <h1>About Us </h1>
    <p>AIR TAXI is an amazing website created by 4 amazing programmers for the purpose of flight reservation. Now you can book tickets without any hassle at ypur fingertips. </p>
    <p>Come fly with us at <i>AIR TAXI</i></p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>NISHANT KUMAR</h2>
          <p class="title">TEAM MEMBER</p>
          
          <p>nishant@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>NIKHIL KUMAR</h2>
          <p class="title">TEAM MEMBER</p>
          
          <p>nikhil@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
 
  

    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>POOJA SHETTY</h2>
          <p class="title">TEAM MEMBER</p>
         
          <p>pooja@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
        
          <div class="container">
            <h2>AVINA WAKCHAURE</h2>
            <p class="title">TEAM MEMBER</p>
           
            <p>avina@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
 


