
h2 {
   
    margin-top: 30px;
    color: black;
    text-align: center;
    

  }

tr:hover {background-color: rgb(176, 181, 189);}

body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-position: center;
  color: #191a1e; 

  background-image: url("src\assets\images\airplane.jpg"); 
  background-size:cover;
  background-position: center; 


background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
 min-height: 50rem; 
position: relative;
}
