<html>
    <body>
        <div *ngFor="let f of displayList">

            <div class="flightcard border border-primary rounded">
                <div class="d-flex flex-row bd-highlight mb-3 mt-3 justify-content-around align-items-center">
                    <div class="flightdata d-flex flex-column align-items-center">
                        <label>FLIGHT Id</label>
                        <label  id="fid">{{f.flight_id}}</label>
                    </div>
                    <div class="flightdata d-flex flex-column align-items-center">
                        <label>FLIGHT Name</label>
                        <label  id="fname">{{f.flightName}}</label>
                    </div>
                    <div class="flightdata d-flex flex-column align-items-center">
                        <label>DEPARTURE</label>
                        <label id="fdepart">{{f.departureTime}}</label>
                    </div>
                    <div class="flightdata d-flex flex-column align-items-center">
                        <label>ARRIVAL</label>
                        <label id="farrival">{{f.arrivalTime}}</label>
                    </div>
                    <div class="d-flex flex-column align-items-center">
                        <div>
                                <img id="loc" src="assets/images/location.png" alt="" >
                        </div>
                        <div class="flightdata">  <label id="fcity">{{f.source}}</label> </div>
                    </div>
                     
                    <div class="d-flex flex-column align-items-center">
                        <img id="plane" src="assets/images/plane.png" alt="">
                    </div>
            
                    <div>
                        <div>
                            <img id="loc" src="assets/images/location.png" alt="">
                        </div>
                        <div  class="flightdata">
                            <label id="tcity">{{f.destination}}</label>
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            <label> Price </label>
                        </div>
            
                        <div [ngSwitch]="myvar" class="flightdata">
                            <label *ngSwitchCase="'Economy'" id="price">Rs {{f.economyPrice}}</label>
                            <label *ngSwitchCase="'Business'"id="price">Rs {{f.businessPrice}}</label>
                        </div>
                    </div>
            
                    <div>
                        <button id="book" type="button" class="btn btn-success" (click)="onBook()">BOOK NOW</button>
                    </div>
            
                </div>
            </div>
        
        </div>
        
        
        
    </body>
</html>